<aside>
    <section>
        <h1>Contact</h1>
        <p><strong>Mastodon:</strong> <a rel="me" href="https://scholar.social/@robertwgehl">@robertwgehl@scholar.social</a></p>
        <p><strong>Email: </strong> robertwgehl %AT% protonmail</p>
    </section>

    <section>
        <h1>Archives</h1>
        <ul class="posts">
        {% for post in site.posts %}
            <li>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>

</aside>
