  <!-- load comments from fediverse (mastodon, pleroma,...) "comments" is the name of the variable in front-matter -->
   
{% if page.comments.show %}   
<!--<div class="article-content">-->
<div class="content">
  <h1>Comments</h1>
  <p>Use your Mastodon account <a class="link" href="https://{{ page.comments.fedihost }}/@{{ page.comments.fediusername }}/{{ page.comments.fediid }}"> to comment on this post</a>. Please note that these posts are public -- the only exception is if you change your privacy settings to DM. Content warnings will also not appear on this blog. You can delete your comment by deleting it through Mastodon.</p>
  <p>Don't have a Mastodon account and you want one? Ask me how! robertwgehl AT protonmail . com</p>
  <p><a class="button" href="https://{{ page.comments.fedihost }}/interact/{{ page.comments.fediid }}?type=reply">Reply</a></p>
  <p id="mastodon-comments-list"><button id="load-comment">Load comments</button></p>
  <noscript><p>Precisas JavaScript para ver os comentarios.</p></noscript>
  <script src="/assets/js/purify.min.js"></script>
  <script type="text/javascript">
    function escapeHtml(unsafe) {
      return unsafe
           .replace(/&/g, "&amp;")
           .replace(/</g, "&lt;")
           .replace(/>/g, "&gt;")
           .replace(/"/g, "&quot;")
           .replace(/'/g, "&#039;");
   }

    document.getElementById("load-comment").addEventListener("click", function() {
      document.getElementById("load-comment").innerHTML = "Loading";
      fetch('https://{{ page.comments.fedihost }}/api/v1/statuses/{{ page.comments.fediid }}/context')
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          if(data['descendants'] &&
             Array.isArray(data['descendants']) && 
            data['descendants'].length > 0) {
              document.getElementById('mastodon-comments-list').innerHTML = "";
              data['descendants'].forEach(function(reply) {
                reply.account.display_name = escapeHtml(reply.account.display_name);
                reply.account.emojis.forEach(emoji => {
                  reply.account.display_name = reply.account.display_name.replace(`:${emoji.shortcode}:`,
                    `<img src="${escapeHtml(emoji.static_url)}" alt="Emoji ${emoji.shortcode}" height="20" width="20" />`);
                });
                /* handling CWs, thanks to https://codeberg.org/ashwinvis/m.css/commit/c622ad23dc976c2ce8029e6aee06f57942eb9394 */
                let fediCommentContent
                if (reply.spoiler_text === '') {
                  fediCommentContent = reply.content
                } else {
                  fediCommentContent =
                   `<details><summary><span id="fedicomment-cw">CW: ${escapeHtml(reply.spoiler_text)}</span></summary>
                      ${reply.content}
                   </details>`
                }
                mastodonComment =
                  `<div class="mastodon-comment">
                     <div class="avatar">
                       <img src="${escapeHtml(reply.account.avatar_static)}" class="commentAvatar" alt="">
                     </div>
                     <div class="content">
                       <div class="author">
                         <a href="${reply.account.url}" rel="nofollow">
                           <span>${reply.account.display_name}</span>
                           <span class="disabled">${escapeHtml(reply.account.acct)}</span>
                         </a>
                         <a class="date" href="${reply.uri}" rel="nofollow">
                           ${reply.created_at.substr(0, 10)}
                         </a>
                       </div>
                       <div class="mastodon-comment-content">${fediCommentContent}</div> 
                     </div>
                   </div>`;
                document.getElementById('mastodon-comments-list').appendChild(DOMPurify.sanitize(mastodonComment, {'RETURN_DOM_FRAGMENT': true}));
              });
          } else {
            document.getElementById('mastodon-comments-list').innerHTML = "<p>No comments</p>";
          }
        });
      });
  </script>
</div>


{% endif %}

<!--  end of comments section -->

