<footer>
    <p>All material on this site is licensed <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC</a>, unless otherwise noted. I <em>do not consent</em> to the use of my writing to train generative AI.</p>

    <!-- Default Statcounter code for FOSS Academic
    https://www.fossacademic.tech/ -->
    <script type="text/javascript">
    var sc_project=12437984; 
    var sc_invisible=1; 
    var sc_security="98ee29d4"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js"
    async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img
    class="statcounter"
    src="https://c.statcounter.com/12437984/0/98ee29d4/1/"
    alt="Web Analytics"></a></div></noscript>
    <!-- End of Statcounter Code -->

</footer>
