/* main CSS */


/* =======Variables======== */
/* Colors */
$textColor: #C8C4BD;
$background: #181A1B;
$grayBG: #474D50;
$currentLinkColor: #F32828;

/* fonts */
$contentFont: Helvetica, sans-serif;
$headerFont: 'Source Code Pro', monospace;

/* dimensions */
$wrapperWidth: 1080px;
$headerHeight: 100px;
$standardMargin: 4%;

/* ========Fonts=============== */
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro'), url(../assets/fonts/SourceCodePro-Regular.ttf) format('ttf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}


/* =======BODY================ */
body {
    background: $background; /* Greetings, Joe! */
    color: $textColor;
    font-family: $contentFont;
    font-size: 1.1em;
    line-height: 1.25em;

    a {
        color: $textColor;
        }

    h1 {
        font-weight: bold;
        font-size: 2em;
        margin-top: $standardMargin;
        font-family: $headerFont;
        }

    h2 {
        font-weight: bold;
        font-size: 1.2em;
        margin-top: $standardMargin;
        font-family: $headerFont;        
        }

    p {
        margin-bottom: $standardMargin;
        }

    ul {
        margin-top: $standardMargin;
        }

    em {
        font-style: italic;
        }

    strong {
        font-weight: bold;
        }

    figure {
        margin-top: $standardMargin;
        }

    }


/* =======WRAPPER============= */
#wrapper {
    width: $wrapperWidth;
    margin-left: auto;
    margin-right: auto;
    }


/* =======HEADER============== */
header {
    width: $wrapperWidth * .33;
    float: left;
    height: $headerHeight;
    text-align: left;
    background: $background;

    img {
        float: left;
        height: 100%;
    }

    h1 {
        font-size: 2em;
        margin-top: 11%;
        margin-left: 35%;
        font-weight: bold;

        a {
            color: $textColor;
            text-decoration: none;
            }
        }

    }



/* =======NAV================= */
nav {
    width: $wrapperWidth * .66;
    float: left;
    height: $headerHeight;
    font-family: $headerFont;

    ul {
        list-style: none;
        width: 70%;
        margin-top: 11%;
        float: right;
       }

    li {
        float: left;
        width: 15%;
        }

    a {
        display: block;
        text-align:center;
    }

    .current {
	    color: $currentLinkColor;
	    }    

    }

/* =======MAIN=============== */
main {
    width: $wrapperWidth * .66;
    padding-left: $wrapperWidth * .04;
    padding-right: $wrapperWidth * .04;
    float: left;
    margin-bottom: $standardMargin;
    background: $background;

    .postWrapper {
        border-bottom: 2px solid;
        margin-bottom: $standardMargin * 2.5;
        }

    h1 {
        margin-bottom: $standardMargin;
        }

    img {
        width: 100%;
        }

    figcaption {
        font-style: italic;
        font-size: .75em;    
        margin-bottom: $standardMargin;
        }

    .postHeader {
        padding-top: 4px;
        margin-bottom: $standardMargin;
        font-size: 2em;
        text-transform: uppercase;
        line-height: 1.1em; 

        a {
            color: $textColor;
            }
    
        }

    .postHeader:nth-of-type(2) {
        border-top: 2px solid black;
        }

    .byline {
        font-size: .9em;
        font-style: italic;
        margin-top: $standardMargin - 3%;
        }
    
    #tagList {
        margin-bottom: $standardMargin;
        
        li {
            width: 30%;
            float: left;
            }
        }
    
    pre {
        font-family: monospace;
        padding: 5px;
        background: $grayBG;
        margin-bottom: $standardMargin;
        }
    
    blockquote {
        margin-left: 5%;
        margin-bottom: $standardMargin;
        font-style: italic;
        }
    
    #comments {
        width: 100%;
        clear: both;
        }
    
    ul {
        list-style: disc;
        margin-left: $standardMargin;
        margin-botton: $standardMargin;
        }
    
    li {
        margin-bottom: $standardMargin;
        }
    
    .postList { /* this styles the ul handling the list of posts on the main page */
        list-style: none;
        margin-left: 0;
        margin-bottom: 0;
        }

    }

/* =======MAIN COMMENTS====== */
.mastodon-comment {
  float: left;
  padding-bottom: 8px;
  }

.commentAvatar {
  width: 31%;
  float: left;
  padding-right: 2%;
  }

.mastodon-comment .content {
  width: 66%;
  float: right;  
  padding-top: 10px;
  }

/* =======ASIDE============== */
aside {
    width: $wrapperWidth * .25;
    float: left;
    padding: 10px;
    margin-bottom: $standardMargin;
    background: $grayBG;

    h1 {
        margin-bottom: $standardMargin;
        }
    }

/* ======FOOTER============== */
footer {
    clear: both;
    background: black;
    color: white;
    height: 100px;

    p {
        text-align: center;
        padding-top: 2em;
        }

    a {
        color: $currentLinkColor;
        }

    }





