/* small screen CSS */


/* =======Variables======== */
/* Colors */
$textColor: #C8C4BD;
$background: #181A1B;
$grayBG: #474D50;
$currentLinkColor: #F32828;

/* fonts */
$contentFont: Helvetica, sans-serif;
$headerFont: 'Source Code Pro', monospace;

/* dimensions */
$wrapperWidth: 100%;
$headerHeight: 100px;
$standardMargin: 4%;

/* ========Fonts=============== */
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro'), url(../assets/fonts/SourceCodePro-Regular.ttf) format('ttf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
	}


/* =======BODY================ */
body {
    background: $background; /* Greetings, Joe! */
    font-family: $contentFont;
    font-size: 2.6em;
    line-height: 1.25em;
    color: $textColor;

    a {
        color: $textColor;
        }

    h1 {
        font-weight: bold;
        font-size: 1em;
        margin-top: $standardMargin;
        font-family: $headerFont;
        }

    h2 {
        font-weight: bold;
        font-size: 1em;
        margin-top: $standardMargin;
        font-family: $headerFont;
        }

    p {
        margin-top: $standardMargin;
        }

    ul {
        margin-top: $standardMargin;
        }

    em {
        font-style: italic;
        }

    strong {
        font-weight: bold;
        }

    figure {
        margin-top: $standardMargin;
        }

    }


/* =======WRAPPER============= */
#wrapper {
    width: $wrapperWidth;
    margin-left: auto;
    margin-right: auto;
    }


/* =======HEADER============== */
header {
    width: $wrapperWidth - 10%;
    margin-left: 10%;
    height: 100px;
    text-align: left;
    float: left;

    img {
        height: 100%;
        float: left;
    }

    h1 {
        font-size: 2em;
        margin-left: $standardMargin;

        a {
            color: $textColor;
            text-decoration: none;
            }
        }

    }



/* =======NAV================= */
nav {
    width: $wrapperWidth;
    height: 60px;
    font-family: $headerFont;
    clear: both;

    ul {
        list-style: none;
        margin-top: 11%;
        margin-left: 25%;
        }

    li {
        float: left;
        width: 25%;
        }

    a {
        display: block;
        text-align:center;
        font-size: .75em;
    }

    .current {
	    color: $currentLinkColor;
	    }    

    }

/* =======MAIN=============== */
main {
    width: $wrapperWidth;
    padding-left: $wrapperWidth * .04;
    padding-right: $wrapperWidth * .04;
    margin-bottom: $standardMargin;
    margin-top: $standardMargin;

    .postHeader {
        font-size: 2em;
        text-transform: uppercase;
        line-height: 1.1em;
        }

    img {
        width: 100%;
        }

    figcaption {
        font-style: italic;
        font-size: .75em;    
        }

    h1 {
        font-size: 1.5em;
        }
    
     pre {
        font-family: monospace;
        padding: 5px;
        background: $grayBG;
        margin-bottom: $standardMargin;
        }
    
    blockquote {
        margin-left: 5%;
        margin-bottom: $standardMargin;
        font-style: italic;
        }
    
     ul {
        list-style: disc;
        margin-left: $standardMargin;
        margin-botton: $standardMargin;
        }
    
    li {
        margin-bottom: $standardMargin;
        }
    
    .postList { /* this styles the ul handling the list of posts on the main page */
        list-style: none;
        margin-left: 0;
        margin-bottom: 0;
        }

    }

/* =======MAIN COMMENTS====== */
#load-comment {
  width: 200px;
  height: 50px;
  font-size: 1.5em;
  }

.commentAvatar {
  width: 33%;
  height: 33%;
  float: left;
  margin-right: 8px;
  }

/* =======ASIDE============== */
aside {
    width: $wrapperWidth;
    margin-left: $standardMargin;
    padding: 10px;
    margin-bottom: $standardMargin;
    }

/* ======FOOTER============== */
footer {
    clear: both;
    background: black;
    color: white;
    height: 200px;

    p {
        text-align: center;
        padding-top: 2em;
        }

    a {
        color: $textColor;
        }

    }
