/* small screen CSS */


/* =======Variables======== */
/* Colors */
$currentLinkColor: #EE0D0D;
$linkColor: #1F3245;
$midLightBG: #F3F3F3;

/* fonts */
$contentFont: Helvetica, sans-serif;
$headerFont: 'Source Code Pro', monospace;

/* dimensions */
$wrapperWidth: 100%;
$headerHeight: 100px;
$standardMargin: 4%;


/* =======BODY================ */
body {
    background: white; /* Greetings, Joe! */
    font-family: $contentFont;
    font-size: 2.6em;
    line-height: 1.25em;

    a {
        color: $linkColor;
        }

    h1 {
        font-weight: bold;
        font-size: 1em;
        margin-top: $standardMargin;
        font-family: $headerFont;
        }

    h2 {
        font-weight: bold;
        font-size: 1em;
        margin-top: $standardMargin;
        font-family: $headerFont;
        }

    p {
        margin-top: $standardMargin;
        }

    ul {
        margin-top: $standardMargin;
        }

    em {
        font-style: italic;
        }

    strong {
        font-weight: bold;
        }

    figure {
        margin-top: $standardMargin;
        }

    }


/* =======WRAPPER============= */
#wrapper {
    width: $wrapperWidth;
    margin-left: auto;
    margin-right: auto;
    }


/* =======HEADER============== */
header {
    width: $wrapperWidth - 10%;
    margin-left: 10%;
    height: 100px;
    text-align: left;
    float: left;

    img {
        height: 100%;
        float: left;
    }

    h1 {
        font-size: 2em;
        margin-left: $standardMargin;

        a {
            color: black;
            text-decoration: none;
            }
        }

    }



/* =======NAV================= */
nav {
    width: $wrapperWidth;
    height: 60px;
    font-family: $headerFont;
    clear: both;

    ul {
        list-style: none;
        margin-top: 11%;
        margin-left: 25%;
        }

    li {
        float: left;
        width: 25%;
        }

    a {
        display: block;
        text-align:center;
        font-size: .75em;
    }

    .current {
	    color: $currentLinkColor;
	    }    

    }

/* =======MAIN=============== */
main {
    width: $wrapperWidth;
    padding-left: $wrapperWidth * .04;
    padding-right: $wrapperWidth * .04;
    margin-bottom: $standardMargin;
    margin-top: $standardMargin;

    .postHeader {
        font-size: 2em;
        text-transform: uppercase;
        line-height: 1.1em;
        }

    img {
        width: 100%;
        }

    figcaption {
        font-style: italic;
        font-size: .75em;    
        }

    h1 {
        font-size: 1.5em;
        }
    
     pre {
        font-family: monospace;
        padding: 5px;
        background: $midLightBG;
        margin-bottom: $standardMargin;
        }
    
    blockquote {
        margin-left: 5%;
        margin-bottom: $standardMargin;
        font-style: italic;
        }
    
     ul {
        list-style: disc;
        margin-left: $standardMargin;
        margin-botton: $standardMargin;
        }
    
    li {
        margin-bottom: $standardMargin;
        }
    
    .postList { /* this styles the ul handling the list of posts on the main page */
        list-style: none;
        margin-left: 0;
        margin-bottom: 0;
        }

    }

/* =======MAIN COMMENTS====== */

.comment__author {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: $standardMargin;
    }

textarea {
    width: 100%;
    }

/* these buttons created by the form, not sure if they're necessary */
.hp {
    display: none;
    }

.mdl-button--colored {
    display: none;
    }

/* =======ASIDE============== */
aside {
    width: $wrapperWidth;
    margin-left: $standardMargin;
    padding: 10px;
    margin-bottom: $standardMargin;
    }

/* ======FOOTER============== */
footer {
    clear: both;
    background: black;
    color: white;
    height: 200px;

    p {
        text-align: center;
        padding-top: 2em;
        }

    a {
        color: $currentLinkColor;
        }

    }
