---
layout: default
---
<div>
    <h1 class="postHeader">{{ page.title }}</h1>

    <p class="byline">
        Robert W. Gehl, {{ page.date | date_to_string }}
        {% assign author = site.authors | where: 'short_name', page.author | first %}
        {% if author %}
        - <a href="{{ author.url }}">{{ author.name }}</a>
        {% endif %}
    </p>

    {{ content }}

       
    <section>
        <h1>Post Tags</h1>
        <ul id="tagList">
            {% for tag in page.tags %}
            <li>
                <a href="/tags/{{ tag | downcase }}/">{{ tag }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    
    <div id="comments">
        {% include comments.html %}
    </div>

    
</div>
